<h1> Welcome to {{title}}</h1>
<h2 [id]="title">Sunil</h2>
<h3 [class]="myclass">Welcome to Angular 7</h3>
<h4 [style.color]="haserror?'red':'blue'">Sunil</h4>
<h5 [ngStyle]="mystyles">Learning</h5>

<!-- <div *ngIf="iserror then thenblock else elseblock"></div>

<ng-template #thenblock>
  <h1>error is true </h1>
</ng-template>

<ng-template #elseblock>
  <h1>error is false</h1>
</ng-template> -->

<div [ngSwitch]="iserror">
  <div *ngSwitchCase="true"><h1>Error is true</h1></div>
  <div *ngSwitchCase="false">Error is false</div>
  <div *ngSwitchDefault>Neither true nor False</div>
</div>

<div *ngFor = "let name of names">
  <p>{{name}}</p>
</div>